<%= render 'boat_form' %>
<%= render 'location_form' %>
<%= render 'job_form' %>

<h2>My Jobs</h2>
<% current_user.jobs.each do |j| %>
	<div style="border: 1px solid black">
		<p>Job Description: <%= j.description %></p>
		<p>Projected Cost: <%= j.cost %></p>
		<p>Containers Needed: <%= j.containers_needed %></p>
		<p>Containers Assigned: <%= j.containers_assigned %></p>
		<p>From: <%= j.origin.name %> To: <%= j.destination.name %></p>
		<div class="boat-list">
			<%= form_for j, remote: true, url: add_boat_path(j.id) do |f| %>
				<%= f.label :boats %>:
				<%= f.select :boats, current_user.boats.all.map {|r| [ r.name, r.id ] }, { :include_blank => true } %>
				<%= f.submit "Add Boat" %>

			<% end %>			
			<p>Boats assigned:</p>
			<%= render partial: j.boats, locals: {job_id: j.id} %>

		</div>



		
	</div>
<% end %>